.m-menu
    .m-logo.mm-navbar
        a(href="./").mm-navbar__title
            img(src="./images/icon/logo.svg", alt="logo")
    ul.mm-listview
        li.mm-listitem
            a(href="#").mm-listitem__text онлайн-курсы  
        li.mm-listitem
            a(href="#").mm-listitem__text Китайский язык
            a(aria-haspopup="true", aria-owns="mm-2", href="#mm-2").mm-btn.mm-btn_next.mm-listitem__btn
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3.81846L8.88906 0L10 1.09077L5 6L0 1.09077L1.11094 0L5 3.81846Z" fill="black"></path>
                </svg>
        li.mm-listitem
            a(href="#").mm-listitem__text английский язык
            a(aria-haspopup="true", aria-owns="mm-2", href="#mm-2").mm-btn.mm-btn_next.mm-listitem__btn
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3.81846L8.88906 0L10 1.09077L5 6L0 1.09077L1.11094 0L5 3.81846Z" fill="black"></path>
                </svg>
        li.mm-listitem
            a(href="#").mm-listitem__text Экзамены
        li.mm-listitem
            a(href="#").mm-listitem__text Переводы
        li.mm-listitem
            a(href="#").mm-listitem__text обечение в китае
        li.mm-listitem
            a(href="#").mm-listitem__text Подменю
        li.mm-listitem
            a(href="#").mm-listitem__text Подменю
        li.mm-listitem
            a(href="#").mm-listitem__text Подменю
    .mm-navbars_bottom
        .social
            a(href="#").social__link
                <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.40506 10.0797H9.42644C9.42644 10.0797 9.73488 10.0432 9.89163 9.86854C10.0357 9.70691 10.0332 9.40713 10.0332 9.40713C10.0332 9.40713 10.013 7.99422 10.6476 7.78567C11.2745 7.57973 12.081 9.15166 12.933 9.75384C13.5777 10.2126 14.0682 10.111 14.0682 10.111L16.3511 10.0797C16.3511 10.0797 17.5444 10.0041 16.9781 9.03435C16.9326 8.95614 16.6494 8.32007 15.2817 7.01143C13.8507 5.64284 14.0429 5.86442 15.7671 3.4948C16.8163 2.05321 17.236 1.1721 17.1045 0.794105C16.9781 0.436967 16.207 0.530814 16.207 0.530814L13.6384 0.546455C13.6384 0.546455 13.4462 0.520386 13.3072 0.606412C13.1681 0.692438 13.0797 0.890558 13.0797 0.890558C13.0797 0.890558 12.6726 2.0089 12.1316 2.95779C10.9863 4.95985 10.5287 5.06673 10.3416 4.9416C9.9068 4.65224 10.0155 3.77634 10.0155 3.15591C10.0155 1.21381 10.3012 0.405685 9.45931 0.19453C9.18121 0.126752 8.9739 0.0798292 8.26096 0.0720087C7.34323 0.0641882 6.56961 0.0746156 6.12971 0.298804C5.83644 0.444788 5.61143 0.77325 5.74795 0.794105C5.91734 0.81496 6.30415 0.900986 6.50641 1.18513C6.76934 1.5553 6.76175 2.38428 6.76175 2.38428C6.76175 2.38428 6.91344 4.67049 6.40781 4.95463C6.06145 5.14754 5.58615 4.7513 4.5673 2.93433C4.04397 2.00368 3.64957 0.973978 3.64957 0.973978C3.64957 0.973978 3.57373 0.781071 3.4372 0.679404C3.27287 0.554275 3.04281 0.515173 3.04281 0.515173L0.600596 0.530814C0.600596 0.530814 0.236539 0.541241 0.100017 0.705472C-0.0188067 0.851456 0.0924329 1.15385 0.0924329 1.15385C0.0924329 1.15385 2.0012 5.76536 4.16532 8.08806C6.15246 10.2179 8.40506 10.0797 8.40506 10.0797Z" fill="#FEFEFE"/>
                </svg>
            a(href="#").social__link
                <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25083 8.86133C7.68225 8.86133 9.66036 6.88617 9.66036 4.45475C9.66036 2.02333 7.68225 0.0452271 5.25083 0.0452271C2.81941 0.0452271 0.841309 2.02333 0.841309 4.45475C0.841309 6.88617 2.81941 8.86133 5.25083 8.86133ZM5.25083 2.62971C6.25755 2.62971 7.07587 3.44804 7.07587 4.45475C7.07587 5.46147 6.25755 6.27979 5.25083 6.27979C4.24412 6.27979 3.4258 5.46147 3.4258 4.45475C3.4258 3.44804 4.24412 2.62971 5.25083 2.62971Z" fill="#FEFEFE"/>
                    <path d="M7.03449 12.4584C7.93229 12.2553 8.79771 11.8991 9.59543 11.3987C10.1989 11.019 10.3814 10.2213 10.0016 9.61781C9.61898 9.01437 8.82421 8.83187 8.21782 9.2116C6.41339 10.3478 4.08794 10.3478 2.28056 9.2116C1.67712 8.83187 0.879407 9.01437 0.499682 9.61781C0.119956 10.2213 0.30246 11.019 0.9059 11.3987C1.70362 11.8991 2.56904 12.2553 3.46684 12.4584L1.0001 14.9251C0.496738 15.4285 0.496738 16.2468 1.0001 16.7531C1.25325 17.0033 1.58293 17.1299 1.91556 17.1299C2.24524 17.1299 2.57493 17.0033 2.82808 16.7531L5.25067 14.3305L7.67325 16.7531C8.17661 17.2565 8.99493 17.2565 9.50124 16.7531C10.0046 16.2468 10.0046 15.4285 9.50124 14.9251L7.03449 12.4584Z" fill="#FEFEFE"/>
                </svg>
            a(href="#").social__link
                <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7654 13.7926C18.8122 13.6758 19.682 12.8915 19.9271 11.8282C20.2757 10.3137 20.2766 8.6605 20.2766 7.10144V7.0632C20.2766 5.51537 20.2766 3.87677 19.9309 2.37471C19.6864 1.31109 18.8166 0.526778 17.7692 0.409726C15.2902 0.132739 12.7805 0.131291 10.2822 0.132739C7.7832 0.131291 5.27352 0.132739 2.79368 0.409726C1.74687 0.526778 0.877661 1.31138 0.633125 2.37471C0.284574 3.88886 0.280518 5.54238 0.280518 7.10144C0.280518 8.6605 0.280518 10.3134 0.629068 11.8282C0.873605 12.8915 1.74281 13.6758 2.78962 13.7926C5.26946 14.0699 7.77914 14.0713 10.2781 14.0699C12.7771 14.0713 15.2862 14.0699 17.7654 13.7926ZM10.5302 8.73698C9.58777 9.22557 8.64499 9.71434 7.69854 10.2051V3.5925C8.84895 4.19287 9.99543 4.79093 11.1443 5.39026C12.1118 5.89493 13.0809 6.4005 14.0556 6.90909C12.8767 7.5205 11.7037 8.12861 10.5302 8.73698Z" fill="white"/>
                </svg>
            a(href="#").social__link
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.99036 15.8502L5.67816 16.252C6.83805 16.9285 8.15727 17.2837 9.50001 17.2809C11.0031 17.2809 12.4725 16.8352 13.7223 16.0001C14.9721 15.165 15.9463 13.978 16.5215 12.5893C17.0967 11.2006 17.2472 9.67247 16.954 8.19822C16.6607 6.72396 15.9369 5.36977 14.874 4.30689C13.8111 3.24402 12.4569 2.52019 10.9827 2.22694C9.50844 1.93369 7.98033 2.0842 6.59161 2.65942C5.2029 3.23465 4.01594 4.20876 3.18084 5.45857C2.34574 6.70838 1.90001 8.17777 1.90001 9.6809C1.90001 11.0451 2.25816 12.3533 2.92981 13.5037L3.33071 14.1915L2.71036 16.4724L4.99036 15.8502ZM0.00381271 19.1809L1.28821 14.4613C0.441893 13.0105 -0.0027461 11.3605 1.27606e-05 9.6809C1.27606e-05 4.43406 4.25316 0.180908 9.50001 0.180908C14.7469 0.180908 19 4.43406 19 9.6809C19 14.9277 14.7469 19.1809 9.50001 19.1809C7.82115 19.1836 6.17183 18.7393 4.72151 17.8936L0.00381271 19.1809ZM6.07146 5.22351C6.19876 5.214 6.32701 5.214 6.45431 5.21971C6.50561 5.22351 6.55691 5.22921 6.60821 5.23491C6.75926 5.25201 6.92551 5.34415 6.98156 5.47145C7.26466 6.11365 7.54016 6.7606 7.80616 7.40945C7.86506 7.55385 7.82991 7.7391 7.71781 7.9196C7.64071 8.04166 7.55732 8.15962 7.46796 8.273C7.36061 8.41075 7.12976 8.66345 7.12976 8.66345C7.12976 8.66345 7.03571 8.77555 7.07181 8.9152C7.08511 8.9684 7.12881 9.04535 7.16871 9.10995L7.22476 9.2002C7.46796 9.60585 7.79476 10.0172 8.19376 10.4048C8.30776 10.515 8.41891 10.6281 8.53861 10.7335C8.98321 11.1259 9.48671 11.446 10.0301 11.6835L10.0349 11.6854C10.1156 11.7206 10.1565 11.7396 10.2743 11.7899C10.3332 11.8146 10.394 11.8365 10.4557 11.8526C10.5195 11.8689 10.5867 11.8658 10.6488 11.8438C10.7109 11.8218 10.765 11.7819 10.8044 11.7291C11.4922 10.896 11.5549 10.8418 11.5606 10.8418V10.8437C11.6083 10.7991 11.6651 10.7653 11.727 10.7445C11.789 10.7237 11.8547 10.7164 11.9197 10.7231C11.9767 10.7269 12.0346 10.7373 12.0878 10.7611C12.5923 10.9919 13.4178 11.352 13.4178 11.352L13.9707 11.5999C14.0638 11.6446 14.1484 11.75 14.1512 11.8517C14.155 11.9153 14.1607 12.0179 14.1389 12.206C14.1085 12.4521 14.0344 12.7475 13.9603 12.9023C13.9095 13.008 13.8422 13.1049 13.7608 13.1892C13.6649 13.2899 13.5599 13.3815 13.4473 13.4628C13.4083 13.4922 13.3687 13.5207 13.3285 13.5483C13.2103 13.6233 13.0889 13.6931 12.9647 13.7574C12.7201 13.8873 12.4499 13.9619 12.1733 13.9758C11.9976 13.9853 11.8218 13.9986 11.6451 13.9891C11.6375 13.9891 11.1055 13.9065 11.1055 13.9065C9.75485 13.5512 8.50573 12.8857 7.45751 11.9628C7.24281 11.7738 7.04426 11.5705 6.84096 11.3681C5.99546 10.5274 5.35706 9.6201 4.96946 8.7632C4.77107 8.34263 4.66391 7.88484 4.65501 7.4199C4.65109 6.84311 4.83964 6.28149 5.19081 5.8239C5.26016 5.7346 5.32571 5.64151 5.43876 5.53415C5.55941 5.42016 5.63541 5.35935 5.71806 5.31755C5.82795 5.26249 5.94783 5.23017 6.07051 5.22256L6.07146 5.22351Z" fill="white"/>
                </svg>
header.header
    .header-top
        .wrapper
            .logo
                .hamburger 
                    .hamburger__box 
                        span.hamburger__inner 
                .logo__wrap
                    a(href="./")
                        img(src="./images/icon/logo.svg", alt="logo")
                    p онлайн школа китайского языка "Taishan" 泰山
            a(href="#").header__btn Оплатить обучение
            .header-top__phone
                a(href="tel:+73832919482").header-top__first 8 383 291 94 82
                .social
                    a(href="#").social__link
                        <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.40506 10.0797H9.42644C9.42644 10.0797 9.73488 10.0432 9.89163 9.86854C10.0357 9.70691 10.0332 9.40713 10.0332 9.40713C10.0332 9.40713 10.013 7.99422 10.6476 7.78567C11.2745 7.57973 12.081 9.15166 12.933 9.75384C13.5777 10.2126 14.0682 10.111 14.0682 10.111L16.3511 10.0797C16.3511 10.0797 17.5444 10.0041 16.9781 9.03435C16.9326 8.95614 16.6494 8.32007 15.2817 7.01143C13.8507 5.64284 14.0429 5.86442 15.7671 3.4948C16.8163 2.05321 17.236 1.1721 17.1045 0.794105C16.9781 0.436967 16.207 0.530814 16.207 0.530814L13.6384 0.546455C13.6384 0.546455 13.4462 0.520386 13.3072 0.606412C13.1681 0.692438 13.0797 0.890558 13.0797 0.890558C13.0797 0.890558 12.6726 2.0089 12.1316 2.95779C10.9863 4.95985 10.5287 5.06673 10.3416 4.9416C9.9068 4.65224 10.0155 3.77634 10.0155 3.15591C10.0155 1.21381 10.3012 0.405685 9.45931 0.19453C9.18121 0.126752 8.9739 0.0798292 8.26096 0.0720087C7.34323 0.0641882 6.56961 0.0746156 6.12971 0.298804C5.83644 0.444788 5.61143 0.77325 5.74795 0.794105C5.91734 0.81496 6.30415 0.900986 6.50641 1.18513C6.76934 1.5553 6.76175 2.38428 6.76175 2.38428C6.76175 2.38428 6.91344 4.67049 6.40781 4.95463C6.06145 5.14754 5.58615 4.7513 4.5673 2.93433C4.04397 2.00368 3.64957 0.973978 3.64957 0.973978C3.64957 0.973978 3.57373 0.781071 3.4372 0.679404C3.27287 0.554275 3.04281 0.515173 3.04281 0.515173L0.600596 0.530814C0.600596 0.530814 0.236539 0.541241 0.100017 0.705472C-0.0188067 0.851456 0.0924329 1.15385 0.0924329 1.15385C0.0924329 1.15385 2.0012 5.76536 4.16532 8.08806C6.15246 10.2179 8.40506 10.0797 8.40506 10.0797Z" fill="#FEFEFE"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.25083 8.86133C7.68225 8.86133 9.66036 6.88617 9.66036 4.45475C9.66036 2.02333 7.68225 0.0452271 5.25083 0.0452271C2.81941 0.0452271 0.841309 2.02333 0.841309 4.45475C0.841309 6.88617 2.81941 8.86133 5.25083 8.86133ZM5.25083 2.62971C6.25755 2.62971 7.07587 3.44804 7.07587 4.45475C7.07587 5.46147 6.25755 6.27979 5.25083 6.27979C4.24412 6.27979 3.4258 5.46147 3.4258 4.45475C3.4258 3.44804 4.24412 2.62971 5.25083 2.62971Z" fill="#FEFEFE"/>
                            <path d="M7.03449 12.4584C7.93229 12.2553 8.79771 11.8991 9.59543 11.3987C10.1989 11.019 10.3814 10.2213 10.0016 9.61781C9.61898 9.01437 8.82421 8.83187 8.21782 9.2116C6.41339 10.3478 4.08794 10.3478 2.28056 9.2116C1.67712 8.83187 0.879407 9.01437 0.499682 9.61781C0.119956 10.2213 0.30246 11.019 0.9059 11.3987C1.70362 11.8991 2.56904 12.2553 3.46684 12.4584L1.0001 14.9251C0.496738 15.4285 0.496738 16.2468 1.0001 16.7531C1.25325 17.0033 1.58293 17.1299 1.91556 17.1299C2.24524 17.1299 2.57493 17.0033 2.82808 16.7531L5.25067 14.3305L7.67325 16.7531C8.17661 17.2565 8.99493 17.2565 9.50124 16.7531C10.0046 16.2468 10.0046 15.4285 9.50124 14.9251L7.03449 12.4584Z" fill="#FEFEFE"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7654 13.7926C18.8122 13.6758 19.682 12.8915 19.9271 11.8282C20.2757 10.3137 20.2766 8.6605 20.2766 7.10144V7.0632C20.2766 5.51537 20.2766 3.87677 19.9309 2.37471C19.6864 1.31109 18.8166 0.526778 17.7692 0.409726C15.2902 0.132739 12.7805 0.131291 10.2822 0.132739C7.7832 0.131291 5.27352 0.132739 2.79368 0.409726C1.74687 0.526778 0.877661 1.31138 0.633125 2.37471C0.284574 3.88886 0.280518 5.54238 0.280518 7.10144C0.280518 8.6605 0.280518 10.3134 0.629068 11.8282C0.873605 12.8915 1.74281 13.6758 2.78962 13.7926C5.26946 14.0699 7.77914 14.0713 10.2781 14.0699C12.7771 14.0713 15.2862 14.0699 17.7654 13.7926ZM10.5302 8.73698C9.58777 9.22557 8.64499 9.71434 7.69854 10.2051V3.5925C8.84895 4.19287 9.99543 4.79093 11.1443 5.39026C12.1118 5.89493 13.0809 6.4005 14.0556 6.90909C12.8767 7.5205 11.7037 8.12861 10.5302 8.73698Z" fill="white"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.99036 15.8502L5.67816 16.252C6.83805 16.9285 8.15727 17.2837 9.50001 17.2809C11.0031 17.2809 12.4725 16.8352 13.7223 16.0001C14.9721 15.165 15.9463 13.978 16.5215 12.5893C17.0967 11.2006 17.2472 9.67247 16.954 8.19822C16.6607 6.72396 15.9369 5.36977 14.874 4.30689C13.8111 3.24402 12.4569 2.52019 10.9827 2.22694C9.50844 1.93369 7.98033 2.0842 6.59161 2.65942C5.2029 3.23465 4.01594 4.20876 3.18084 5.45857C2.34574 6.70838 1.90001 8.17777 1.90001 9.6809C1.90001 11.0451 2.25816 12.3533 2.92981 13.5037L3.33071 14.1915L2.71036 16.4724L4.99036 15.8502ZM0.00381271 19.1809L1.28821 14.4613C0.441893 13.0105 -0.0027461 11.3605 1.27606e-05 9.6809C1.27606e-05 4.43406 4.25316 0.180908 9.50001 0.180908C14.7469 0.180908 19 4.43406 19 9.6809C19 14.9277 14.7469 19.1809 9.50001 19.1809C7.82115 19.1836 6.17183 18.7393 4.72151 17.8936L0.00381271 19.1809ZM6.07146 5.22351C6.19876 5.214 6.32701 5.214 6.45431 5.21971C6.50561 5.22351 6.55691 5.22921 6.60821 5.23491C6.75926 5.25201 6.92551 5.34415 6.98156 5.47145C7.26466 6.11365 7.54016 6.7606 7.80616 7.40945C7.86506 7.55385 7.82991 7.7391 7.71781 7.9196C7.64071 8.04166 7.55732 8.15962 7.46796 8.273C7.36061 8.41075 7.12976 8.66345 7.12976 8.66345C7.12976 8.66345 7.03571 8.77555 7.07181 8.9152C7.08511 8.9684 7.12881 9.04535 7.16871 9.10995L7.22476 9.2002C7.46796 9.60585 7.79476 10.0172 8.19376 10.4048C8.30776 10.515 8.41891 10.6281 8.53861 10.7335C8.98321 11.1259 9.48671 11.446 10.0301 11.6835L10.0349 11.6854C10.1156 11.7206 10.1565 11.7396 10.2743 11.7899C10.3332 11.8146 10.394 11.8365 10.4557 11.8526C10.5195 11.8689 10.5867 11.8658 10.6488 11.8438C10.7109 11.8218 10.765 11.7819 10.8044 11.7291C11.4922 10.896 11.5549 10.8418 11.5606 10.8418V10.8437C11.6083 10.7991 11.6651 10.7653 11.727 10.7445C11.789 10.7237 11.8547 10.7164 11.9197 10.7231C11.9767 10.7269 12.0346 10.7373 12.0878 10.7611C12.5923 10.9919 13.4178 11.352 13.4178 11.352L13.9707 11.5999C14.0638 11.6446 14.1484 11.75 14.1512 11.8517C14.155 11.9153 14.1607 12.0179 14.1389 12.206C14.1085 12.4521 14.0344 12.7475 13.9603 12.9023C13.9095 13.008 13.8422 13.1049 13.7608 13.1892C13.6649 13.2899 13.5599 13.3815 13.4473 13.4628C13.4083 13.4922 13.3687 13.5207 13.3285 13.5483C13.2103 13.6233 13.0889 13.6931 12.9647 13.7574C12.7201 13.8873 12.4499 13.9619 12.1733 13.9758C11.9976 13.9853 11.8218 13.9986 11.6451 13.9891C11.6375 13.9891 11.1055 13.9065 11.1055 13.9065C9.75485 13.5512 8.50573 12.8857 7.45751 11.9628C7.24281 11.7738 7.04426 11.5705 6.84096 11.3681C5.99546 10.5274 5.35706 9.6201 4.96946 8.7632C4.77107 8.34263 4.66391 7.88484 4.65501 7.4199C4.65109 6.84311 4.83964 6.28149 5.19081 5.8239C5.26016 5.7346 5.32571 5.64151 5.43876 5.53415C5.55941 5.42016 5.63541 5.35935 5.71806 5.31755C5.82795 5.26249 5.94783 5.23017 6.07051 5.22256L6.07146 5.22351Z" fill="white"/>
                        </svg>
    .header-bottom
        .wrapper
            nav.menu
                ul
                    li.active
                        span 
                            a(href="#") 
                                span онлайн-курсы
                    li.has-sub__1
                        a(href="#") 
                            span Китайский язык
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 3.81846L8.88906 0L10 1.09077L5 6L0 1.09077L1.11094 0L5 3.81846Z" fill="black"></path>
                            </svg>
                        ul.sub-menu__1
                            li
                                a(href="#") Для детей
                            li
                                a(href="#") Для взрослых
                    li.has-sub__1
                        a(href="#") 
                            span английский язык
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 3.81846L8.88906 0L10 1.09077L5 6L0 1.09077L1.11094 0L5 3.81846Z" fill="black"></path>
                            </svg>
                        ul.sub-menu__1
                            li
                                a(href="#") Для детей
                            li
                                a(href="#") Для взрослых
                    li
                        a(href="#") 
                            span Экзамены
                    li
                        a(href="#") 
                            span Переводы
                    li
                        a(href="#") 
                            span обечение в китае
                    li.menu-additional
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
.text
    .wrapper
        .text__title
            .breadcrumbs
                a(href="./") Главная
                <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2828 3.28284C12.4391 3.12663 12.4391 2.87337 12.2828 2.71716L9.73726 0.171573C9.58105 0.0153632 9.32778 0.0153632 9.17157 0.171573C9.01536 0.327783 9.01536 0.581048 9.17157 0.737258L11.4343 3L9.17157 5.26274C9.01536 5.41895 9.01536 5.67222 9.17157 5.82843C9.32778 5.98464 9.58105 5.98464 9.73726 5.82843L12.2828 3.28284ZM0 3.4H12V2.6H0V3.4Z" fill="#666666"/>
                </svg>
                a(href="#").active Оплатить обучение
            img(src="./images/icon/welcome.svg", alt="welcome").welcome
        .education
            h2 Оплатить обучение
            .education__form
                form(action="#")
                    .education__wrap
                        .form__big
                            label ФИО студента 
                                span *
                            input(type="text")
                            label Стоимость 
                                span *
                            input(type="text")
                        .form__small
                            label E-mail 
                                span *
                            input(type="text")
                            label Телефон 
                                span *
                            input(type="text")
                    span Оплата онлайн возможна только за текущий или последующие месяцы обучения. 
                    span Задолженность оплачивается в офисе Школы.
                    input(type="checkbox", name="check")#check-1
                    label(for="check-1") Нажимая на кнопку "Отправить", я даю согласие на 
                        a(href="#") Обработку персональных данных
                    .education__text
                        p 
                            strong Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. 
                        p Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. 
                        p 
                            strong Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
                    .education__btn
                        input(type="submit", value="перейти к оплате")
                        .education__btn_wrap
                            span Итого к оплате
                            input(type="text", value="0")
        .refund
            h4 Порядок возврата: 
            p Возврат денежных средств осуществляется по письменному заявлению Заказчика с указанием реквизитов, необходимых для возврата средств. Образец заявления будет предоставлен Заказчику по его требованию.
            p Вы можете отправить оригинал заявления заказным письмом либо доставить лично в офис Школы по адресу: 630005, г.Новосибирск, улица Некрасова, дом 50. Получатель: ИП Серова Т.А.
            p Для возврата денежных средств необходима следующая информация:
            ul
                li Наименование банка, где открыт счет;
                li БИК банка;
                li Лицевой счет Заказчика;
                li ФИО владельца счета.
            p Обращаем Ваше внимание на то, что реквизиты счета в банке для возврата денежных средств должны быть на имя лица, осуществлявшего платёж.
            p Перечисление денежных средств осуществляется в течение 5 рабочих дней с момента получения Исполнителем заявления от Заказчика. Срок зачисления денежных средств на расчетный счет Заказчика, указанного в заявлении, зависит от внутреннего регламента банка-получателя. Дополнительную информацию вы можете получить по телефонам: 8(383)2435030 и 8(800)5116530.
footer.footer
    .footer-top
        .wrapper
            .footer-top__logo
                a(href="#")
                    img(src="./images/icon/footer-logo.svg", alt="logo")
            .footer-top__social
                .social
                    a(href="#").social__link
                        <svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.015 14.6079H13.483C13.483 14.6079 13.9263 14.5554 14.1516 14.3044C14.3587 14.0721 14.355 13.6412 14.355 13.6412C14.355 13.6412 14.326 11.6106 15.238 11.3108C16.1391 11.0149 17.2982 13.2741 18.5227 14.1395C19.4493 14.799 20.1542 14.6528 20.1542 14.6528L23.4353 14.6079C23.4353 14.6079 25.1503 14.4992 24.3364 13.1055C24.271 12.9931 23.864 12.0789 21.8983 10.1981C19.8417 8.23113 20.1178 8.54959 22.5959 5.14392C24.1038 3.07204 24.707 1.80568 24.5181 1.26242C24.3364 0.749132 23.2282 0.884011 23.2282 0.884011L19.5365 0.90649C19.5365 0.90649 19.2603 0.869024 19.0605 0.992662C18.8606 1.1163 18.7335 1.40104 18.7335 1.40104C18.7335 1.40104 18.1485 3.00834 17.3709 4.37211C15.7249 7.24952 15.0672 7.40313 14.7983 7.22329C14.1734 6.80741 14.3296 5.54855 14.3296 4.65686C14.3296 1.86562 14.7402 0.704173 13.5302 0.400697C13.1305 0.303285 12.8326 0.235846 11.8079 0.224606C10.4889 0.213366 9.37708 0.228352 8.74484 0.550562C8.32335 0.760372 7.99996 1.23245 8.19617 1.26242C8.43962 1.29239 8.99555 1.41603 9.28624 1.82441C9.66413 2.35643 9.65323 3.54786 9.65323 3.54786C9.65323 3.54786 9.87124 6.83364 9.14453 7.24202C8.64673 7.51927 7.96363 6.94979 6.49931 4.33839C5.74716 3.00085 5.18033 1.52094 5.18033 1.52094C5.18033 1.52094 5.07133 1.24369 4.87511 1.09757C4.63893 0.91773 4.30828 0.861531 4.30828 0.861531L0.798276 0.884011C0.798276 0.884011 0.275045 0.898997 0.0788337 1.13503C-0.091943 1.34484 0.067933 1.77945 0.067933 1.77945C0.067933 1.77945 2.81126 8.40722 5.92158 11.7455C8.77754 14.8064 12.015 14.6079 12.015 14.6079Z" fill="#FEFEFE"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.77985 12.6707C11.2743 12.6707 14.1173 9.83196 14.1173 6.33747C14.1173 2.84298 11.2743 0 7.77985 0C4.28536 0 1.44238 2.84298 1.44238 6.33747C1.44238 9.83196 4.28536 12.6707 7.77985 12.6707ZM7.77985 3.71448C9.22672 3.71448 10.4028 4.89059 10.4028 6.33747C10.4028 7.78434 9.22672 8.96045 7.77985 8.96045C6.33298 8.96045 5.15687 7.78434 5.15687 6.33747C5.15687 4.89059 6.33298 3.71448 7.77985 3.71448Z" fill="#FEFEFE"/>
                            <path d="M10.3435 17.8406C11.6339 17.5487 12.8777 17.0368 14.0242 16.3176C14.8914 15.7718 15.1537 14.6253 14.608 13.758C14.058 12.8908 12.9158 12.6285 12.0442 13.1742C9.45087 14.8072 6.10868 14.8072 3.51108 13.1742C2.64381 12.6285 1.49731 12.8908 0.95156 13.758C0.40581 14.6253 0.668108 15.7718 1.53539 16.3176C2.68188 17.0368 3.92568 17.5487 5.21602 17.8406L1.67076 21.3858C0.947329 22.1093 0.947329 23.2854 1.67076 24.0131C2.0346 24.3727 2.50843 24.5546 2.98649 24.5546C3.46032 24.5546 3.93415 24.3727 4.29798 24.0131L7.77978 20.5313L11.2616 24.0131C11.985 24.7365 13.1611 24.7365 13.8888 24.0131C14.6122 23.2854 14.6122 22.1093 13.8888 21.3858L10.3435 17.8406Z" fill="#FEFEFE"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1297 19.6325C26.6342 19.4647 27.8843 18.3374 28.2366 16.8092C28.7375 14.6326 28.7388 12.2565 28.7388 10.0158V9.96086C28.7388 7.73628 28.7388 5.38126 28.242 3.22245C27.8905 1.6938 26.6405 0.566568 25.1351 0.398337C21.5723 0.000245473 17.9653 -0.00183611 14.3746 0.000245954C10.783 -0.00183611 7.17605 0.000245473 3.61197 0.398337C2.10747 0.566568 0.858228 1.69422 0.506775 3.22245C0.00583003 5.39863 0 7.7751 0 10.0158C0 12.2565 0 14.6322 0.500945 16.8092C0.852398 18.3374 2.10164 19.4647 3.60614 19.6325C7.17022 20.031 10.7772 20.0331 14.3688 20.031C17.9603 20.0331 21.5665 20.031 25.1297 19.6325ZM14.731 12.3663C13.3764 13.0685 12.0213 13.771 10.661 14.4764V4.97264C12.3137 5.83517 13.9608 6.69438 15.6114 7.55541C17.0025 8.28107 18.396 9.00802 19.7975 9.73932C18.1032 10.618 16.4175 11.4919 14.731 12.3663Z" fill="white"/>
                        </svg>
            .footer-top__adress
                h3 Адрес
                .footer-top__wrap
                    .footer-top__icon
                        <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 17C6 17 0 9.2395 0 5.95C0 2.6639 2.68629 0 6 0C9.31371 0 12 2.6639 12 5.95C12 9.2395 6 17 6 17ZM6 7.65C6.94714 7.65 7.71429 6.88925 7.71429 5.95C7.71429 5.01075 6.94714 4.25 6 4.25C5.05286 4.25 4.28571 5.01075 4.28571 5.95C4.28571 6.88925 5.05286 7.65 6 7.65Z" fill="#5B221C"/>
                        </svg>
                    p г. Новосибирск, <br>ул. Покрышкина, д.1
            .footer-top__email
                h3 Контакты
                .footer-top__wrap
                    .footer-top__phone
                        .footer-top__icon
                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.43288 0.257232L5.71285 3.25719C6.01285 3.61719 5.95285 4.09718 5.71285 4.39718L4.15287 5.95716C3.43288 6.61715 8.35282 11.5371 9.01281 10.8771L10.5728 9.31712C10.8728 9.01712 11.4128 9.01712 11.7128 9.25712L14.7127 11.5371C15.0727 11.8371 15.0727 12.2571 14.8327 12.5571L13.1528 14.2371L12.9728 14.4171C10.8728 16.457 5.59285 12.6771 3.97287 11.0571C2.35289 9.37712 -1.48706 4.09718 0.612916 1.99721L0.792914 1.87721L2.41289 0.197233C2.71289 -0.102763 3.19288 -0.0427642 3.43288 0.257232Z" fill="#5B221C"/>
                            </svg>
                        a(href="tel:+73832919482") 8 383 291 94 82
                .footer-top__wrap
                    .footer-top__icon
                        <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.8462 0H1.15385C0.847827 0 0.554342 0.121566 0.337954 0.337954C0.121566 0.554342 0 0.847827 0 1.15385V1.63038L7.5 6.24577L15 1.63038V1.15385C15 0.847827 14.8784 0.554342 14.662 0.337954C14.4457 0.121566 14.1522 0 13.8462 0Z" fill="#5B221C"/>
                            <path d="M0 3V10.3996C0 10.7056 0.121566 10.9991 0.337954 11.2155C0.554342 11.4319 0.847827 11.5535 1.15385 11.5535H13.8462C14.1522 11.5535 14.4457 11.4319 14.662 11.2155C14.8784 10.9991 15 10.7056 15 10.3996V3L7.5 7.61538L0 3Z" fill="#5B221C"/>
                        </svg>
                    a(href="mailto:taishan2000@mail.ru") taishan2000@mail.ru
    .footer-top__copyright
        .wrapper
            p © 2020   
                a(href="#") Политика конфиденциальности
    .footer-bottom
        .wrapper
            .footer-bottom__privacy
                p 
                    a(href="mailto:taishan2000@mail.ru") taishan2000@mail.ru 
                    | электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
            .footer-bottom__made
                .kontur-copy
                    .kontur-copy__links
                        a(href="#") Создание сайтов
                        a(href="#") Продвижение сайтов
                    .kontur-copy__logo
                        img(src="./images/icon/kontur.svg", alt="kontur")





